<p id="notice"><%= notice %></p>

<% unless @user.trellin? %>
<div class="container">
Welcome to Trellin! Well, almost. This site, being the work in progress it is, only allows addition to a campaign via a manual update by the gm. Also, this assumes you know the gm, and can contact them out of band. So...yeah, please do that.
</div>
<% else %>
<div class="container">
Welcome to Trellin!
</div>
<% end %>
