<h2>Background</h2>

<p>The history section is much more 'in game', including important events as seen by the inhabitants of Trellin, and leaving out things that are 'obvious'. As such, this document is more targetting at providing the backround information any character in Trellin would just know.</p>

<p>Usti is a fairly typical high fantasy late medieval setting. Some place, Trellin included, are starting to see things like basic plumbing, boilers for hot water, etc; but typically only in the homes of the wealthy. However, magic is common enough that its presence is seen throughout the world, in one form or another; which in many cultures makes for a high standard of living than was found in our world.</p>

<p>Literacy, history, rudimentary biology and a basic understand of mathematics is prevelant in Trellin. All the cities have government funded schools, and the Hand's of Gaia and Geologists traveling throughout the country provide teachers to the rural populace. There is just a single language used throughout Trellin, and its the same language used throughout Arisi. Trader's from Vesdyn have been known to speak at least two languages, but communication with them has largely been done with telepathy (there is a spell or two allowing for this). Coins are gold, silver and copper, each being worth ten of the next. The founders of Trellin wanted to place the ephasis on the land, and not the people, so the coins have the bells on one side, and the split egg shape on the other.</p>

<p>Vesdyn is much less fleshed out in my head right now...any won't become relevant for at least a little while, so will likely remain that way unless someone wants it for their backstory.</p>

<p>Trellin is ruled by a Triach (Monarchy whose head is a triumvirate, Phil and I made up the word). There is a council with some authority, though mostly just through prestige. The other major factor of the government are the bells, which were created to be an ideal voting system.</p>

<p>Trellin's major export is wine, and a major source of income is taxing imports. Since Trellin the standard of living in Trellin is higher than most of the countries it trades with, there are far more imports than exports.</p>

<p>The typical work week is four days long, with one day of rest. The 1st of every month is a holiday, with the larger celebrations occuring on the solstices and the equinoxs.</p>

<p>Trellin's major cities are CAPITAL AT FORK, EAST RIVER DELTA and WEST RIVER DELTA. The Tle'Core towers setup along the major thoroughfares also tend to have at least small communities, and a few are in something closer to cities.</p>

<p>Arisi FINISH THIS. The average person in Trellin knows little about Vesdyn, though those in the EAST RIVER DELTA probably know that the two major port towns Trellin deals with are nearly as large as Trellin's capital.</p>

