<h2>Creation Guidelines</h2>

<ul>
  <li>Core reference can be found <a href="http://www.ruleofcool.com/get-the-game/">here.</a></li>
  <li>Character's will be basically moral (subject to personal definition, as long at it falls with 'acceptable' bounds).</li>
  <li>Character's will be legendary (has special meaning, last chapter of pdf.)</li>
  <li>Use the 16,14,14,12,10,10 stat rule.</li>
  <li>Full buy-in is allowed. I'll create/adapt guilds as needed to accommodate such, though player input on that front is encouraged.</li>
</ul>
