<div class="container">
  <h2>A Brief History of Trellin</h2>

  <h4>Chapter 1: Decline of Duseak</h4>

  <p>On the 14th day of Zhain, year 4351, Ravuck, the last habitable land in the known world, swore fidelity to Tle'Manch. During this last expansion, Tle'Manch was considered by most a just ruler, if rather short of mercy and temper. Soon after the expansion, his first son, Laram, was born. A few years later, having supposedly weathered three assassination attempts and two kidnappings, Laram was moved into suclusion. While Laram was in hiding, Tle'Manch became increasingly paranoid, seeing enemies everywhere. Tle'Manch died in his bed on the 43rd day of Enali, year 4379. With surprising little fanfare, it was announced that Laram, now Nec'Laram, had come out of hiding to take Duseak's thrown.</p>

  <p>Nec'Laram's first act was to instill far greater power to the advisory council, appointing Tle'Rauk its leader. As Tle'Rauk was already a popular figure at the time, this move set much of the populace at ease, despite Laram's other leanings. However, the goodwill was short lived, as the abductions began.</p>

  <p>At first it was only harmless wild animals, and no one really put any effort into learning why deers and boars would appear with a leg or two missing, or why rabbits and squirrels would be found lying dead near town walls. But then wolves and bears started getting more aggressive, and would attack for no reason, not even eating the farm animals they slaughtered. Soon the farm animals themselves began changing. Goat and cow milk would curdle within an hour; bulls, rams and stallions would destroy anything in sight.</p>

  <p>When the first few people were reported missing, we feared the worse.</p>

  <p>The following conversation between Tle'Rauk and Tle'Braum was recorded on DATE YEAR.</p>

  <div class="conversation">
    <p>"Thats it, there's no way around it, we're just going to have to form our own country."</p>
    <p>"Brilliant! Ha, yes! Just what we need...wait, what? You can't be serious! That would be..."</p>
    <p>"I'm not that far gone, the room is warded."</p>
    <p>"Fine, fine. Treason, the word is treason, we could die for you even thinking such things!"</p>
    <p>"Which is -exactly- the point. Dieing for one's thoughts? Does that strike you as reasonable?!? No, no; I know, you wouldn't be here if it did."</p>
    <p>"Ok, lets pretend forming our own country were an option. Where, exactly, do you intend to go?"</p>
    <p>"Trellin."</p>
    <p>"Trellin. The little island in the middle of the Oskari Ocean, Trellin? The island of rock our appentices could lift, Trellin? Exactly how much wine have you had tonight?"</p>
    <p>"None, thank you very much."</p>
    <p>"Of course not, you haven't since this whole operation started. Do you, in fact, have a plan?"</p>
    <p>"We move Jagand's Teeth."</p>
    <p>"What, the whole mountain range?"</p>
    <p>"Eventually, yes; or at least most of it. There would be enough mass to build a new land, and I'm told a decent enough mix of rocks and such to eventually create arable soil. The added benefit is that Nec'Laram should be too busy dealing with the Harredon."</p>
    <p>"I...um...huh. I won't be easy."</p>
    <p>"Well, no; but I don't believe anyone thought this exodus would be easy."</p>
    <p>"Right, yeah...no, I think...I think you could be on to something here..."</p>
  </div>

  <p>The foundation itself went largly as planned, though no one was prepared for just how taxing it would be, not just on the Tle'Corp, but on those supporting them. The cost in food alone to offset such massive energy expenditure was stagering. If it wasn't for HAND_OF_NATURE's companion's, Trellin may well have never formed. Moving the Jagand's Teeth took two months.</p>

  <h4>Chapter 2</h4>

  <p>While the Tle'Corp rested to regain its strength, the farmers, traders, geologists, herbologists, and Gaia's followers planned.</p>

  <p>The bulk of the land mass was moved to the south, enabling a milder climate throughout most of Trellin. Wine was in high demand throughout most of Arisi and Vesdyn, and Trellin's traders were confident that it would allow for GOOD TRADE.</p>

  <h4>Chapter 3</h4>

  <p>BELLS OF TRUTH</p>

  <h4>Chapter 4</h4>

  <p>HEIR CAST DOWN BY THE BELLS</p>

  <h4>Chapter 5</h4>

  <p>BRIEF OVERVIEW OF CURRENT DIPLOMATIC TIES, INCLUDE CURRENT DATE AT SOME POINT</p>
</div>
