<div class="container">
  <h2>A Brief History of Trellin</h2>

  <h4>Chapter 1</h4>

  <p>The year was YEAR. COUNTRY's ruler, Nec'Laram, was giving in to his inner demon's.</p>

  <p>The following conversation between Tel'Rauk and Tel'Braum was recorded on DATE YEAR.</p>

  <div class="conversation">
    <p>"Thats it, there's no way around it, we're just going to have to form our own country."</p>
    <p>"Brilliant! Ha, yes! Just what we need...wait, what? You can't be serious! That would be..."</p>
    <p>"I'm not that that far gone, the room is warded."</p>
    <p>"Fine, fine. Treason, the word is treason, we could die for you even thinking such things!"</p>
    <p>"Which is -exactly- the point. Dieing for one's thoughts? Does that strike you as reasonable?!? No, no; I know, you wouldn't be here if it did."</p>
    <p>"Ok, lets pretend forming our own country were an option. Where, exactly, do you intend to settle?"</p>
    <p>"Trellin."</p>
    <p>"Trellin. The little island in the middle of the Oskari Ocean, Trellin? The island of rock I can throw a stone from one shore and hit the other, Trellin? Exactly how much wine have you had tonight?"</p>
    <p>"None, as you know perfectly well, given you finished the last of it weeks ago."</p>
    <p>"Not a lot else to do! Especially when our exhalted leader is having delusions of settling a thousand people on a rock in the middle of the ocean that could evn hold half the camp as is."</p>
    <p>"We move Jagand's teeth."</p>
    <p>"What, the whole mountain range?"</p>
    <p>"Eventually, yes. It would give us enough mass to build a new land, with the added bonus of keeping 'His Majesty' busy with the no longer hindered Harredon."</p>
    <p>"I...um...huh. I won't be easy."</p>
    <p>"Well, no; but if anyone here thought this exodus would be easy, they are free to turn around right now."</p>
    <p>"Yeah yeah, fine...no, I think...I think you could be on to something here..."</p>
  </div>

  <p>The foundation itself went largly as planned, though no one was prepared for just how taxing it would be, not just on the Tel'Corp, but on those supporting them. The cost in food alone to offset such massive energy expenditure was stagering. If it wasn't for HAND_OF_NATURE's companion's, Trellin may well have never formed. Moving the MOUNTAINS took TIME PERIOD.</p>

  <h4>Chapter 2</h4>

  <p>While the Tel'Corp rested to regain its strength, the farmers, traders, geologists, herbologists, and Gaia's followers planned.</p>

  <p>The bulk of the land mass was moved to the south, enabling a milder climate throughout most of Trellin. Wine was in high demand throughout most of CONTINENT1 and CONTINENT2, and Trellin's traders were confident that it would allow for GOOD TRADE.</p>

  <h4>Chapter 3</h4>

  <p>BELLS OF TRUTH</p>

  <h4>Chapter 4</h4>

  <p>HEIR CAST DOWN BY THE BELLS</p>

  <h4>Chapter 5</h4>

  <p>BRIEF OVERVIEW OF CURRENT DIPLOMATIC TIES</p>
</div>
