<!DOCTYPE html>
<html>
  <head>
    <title>Trellin</title>

    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container-fluid">
          <h3><a href="#">Trellin</a></h3>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/history">History</a></li>
            <li><a href="/creation">Character Creation</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">Resources</a>
              <ul class="dropdown-menu">
                <li><a href="/time">Time</a></li>
                <li><a href="#">Tracks</a></li>
                <li><a href="#">Classes</a></li>
                <li><a href="#">Feats</a></li>
                <li><a href="#">Skills</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav secondary-nav">
            <li><a data-controls-modal="modal-from-dom" data-keyboard="true">Login</a></li>
          </ul>

        </div>
      </div><!-- /topbar-inner -->
    </div>

    <div id="modal-from-dom" class="modal hide">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Login</h3>
      </div>
      <div class="modal-body">
        <p>
	  <a href="/auth/dev">Dev</a>
	  <a href="/auth/twitter">Twitter</a>
	  <a href="/auth/google_oauth2">Google</a>
	</p>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
